.scrollbar::-webkit-scrollbar {
  width: 2px;
  height: 3px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 2px; 
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
